<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:tsr="http://typo3.org/ns/Helhum/TyposcriptRendering/ViewHelpers">

<f:for each="{settings.css}" as="css" key="identifier">
    <f:asset.css identifier="{identifier}" href="{css}" />
</f:for>
<f:for each="{settings.javascript}" as="javascript" key="identifier">
    <f:asset.script identifier="{identifier}" src="{javascript}" />
</f:for>
<f:form class="tx-domaincheck-search-form" actionUri="{tsr:uri.action(controller:'Check',action:'check',absolute:'true',contextRecord:'tt_content:{data.uid}')}" controller="Check" absolute="true" name="check" id="tx-domaincheck-search-form-{data.uid}" data="{uid: data.uid}">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-4">
            <label class="sr-only" for="tx-domaincheck-sld-{data.uid}">{f:translate(key: 'tx_domaincheck_check.whois_domain_label')}</label>
            <f:form.textfield class="form-control tx-domaincheck-search-sld" id="tx-domaincheck-sld-{data.uid}" pattern="^([a-zA-ZäÄöÖüÜ0-9]([a-zA-ZäÄöÖüÜ0-9\-]{0,61}[a-zA-ZäÄöÖüÜ0-9]))$" property="sld" placeholder="{f:translate(key: 'tx_domaincheck_check.whois_domain')}"/>
        </div>
        <div class="form-group col-xs-12 col-sm-4">
            <label class="sr-only" for="tx-domaincheck-tld-{data.uid}">{f:translate(key: 'tx_domaincheck_check.whois_tld_label')}</label>
            <f:form.select class="form-control tx-domaincheck-search-tlds" data="{placeholder: 'Bitte wählen'}" multiple="true" id="tx-domaincheck-tld-{data.uid}" property="tld" options="{tlds}" optionLabelField="tld" optionValueField="uid" prependOptionLabel="{f:translate(key: 'tx_domaincheck_check.whois_all_tlds')}" sortByOptionLabel="true"/>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button type="submit" disabled class="btn btn-primary tx-domaincheck-search-go ladda-button" id="tx-domaincheck-search-go-{data.uid}" data-style="zoom-in" data-uid="{data.uid}"><span class="ladda-label">{f:translate(key: 'tx_domaincheck_check.whois_check_domain_btn')}</span></button>
        </div>
    </div>
</f:form>

</html>
